*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.testBlock {
 background-color: #252d4a;
    width: 450px;
    min-height: 200px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

}

.questionCount{
    color: beige;
    font-size: 1rem;
}

.questionText{
    color: beige;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.answerSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 190px;
}

 button {
    width: 100%;
    font-size: 16px;
    color: beige;
    background-color: #252d4a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 6px 0px;
    cursor: pointer;
    border: 2px solid #234668;
    margin: 5px 0;
}

.answerSection button:hover{
    background: #234668;
}

.showScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: beige;
    width: 100%;
    height: 200px;
    font-size: 2rem;
}

.refresh {
    margin-top: 45px;
}