.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;

}

.description {
    font-size: 20px;
    margin-bottom: 170px;
    margin-top: 20px;
}
.cardsBlock {
    background-color: #252d4a;
    width: 650px;
    min-height: 200px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);

}
.questionText{
    color: beige;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.questionCount{
    color: beige;
    font-size: 1rem;
}

.buttonSection{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.navigationButton {
    display: flex;
}

.showAnswer {
    color: beige;
    font-size: 1.3rem;
}
